.jumbotron {
    padding: 30px;
    background-color: black;
    color: white;
}

.display-4 {
    font-weight: bolder;
    text-align: center;
}

.search {
    float: left;
    margin: 0;
}

.forecast {
    width: 20%;
    margin: 0;
}

.row {
    margin: 0;
}

.forecastContainer {
    float: left;
    visibility: hidden;
}

#inputCity {
    width: 300px;
    border-radius: 5px;
}

body {
    background-color: lightgray;
}

#currentUVIndex {
    color: white;
    padding-right: 5px;
    border-radius: 5px;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: orange;
}

.severe {
    background-color: red;
}

.list-group-item {
    background-color: white;
}

.list-group {
    width: 345px;
    padding-top: 30px;
}

.list-group li:hover {
    background-color: rgb(43, 80, 201);
    color: white;
}

.card-header {
    font-weight: bolder;
    font-size: larger;
}